/* HEADER CSS */
body{
    padding: 0;
    margin: 0;
}
.container{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.header{
    position: relative;
    margin-bottom: 3%
}
.background img{
    object-fit: cover;
    width: 100%;
}
.logo-menu {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#logo{
    margin-bottom: 1%;
}
#menu{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 50%;
}
#menu a{
    text-decoration: none;
    color: black;
    font-family: 'Inter';
    font-size: 32px;
    font-weight: 600;
}
/* END */

/* ABOUT-US CSS */
.about-us{
    font-family: 'Kaisei Decol';
    display: flex;
    flex-direction: row;
    background-color: #9CAB70;
    margin-bottom: 3%
}
.content{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.content #title{
    font-size: 40px;
    color: white;
    font-weight: bold;
    margin-bottom: 3%;
}
.content #descript{
    text-align: center;
    color: white;
    font-size: 32px;
    width: 70%;
}
/* END */


/* PRODUCT CSS */
.product{
    background-color: #EEEEEE;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5%;
    margin-bottom: 3%;
}
.collection{
    padding: 5% 0 ;
    font-family: 'Kaisei Decol';
    font-size: 48px;
    font-weight: bold;
}
.pro{
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.item{
    flex-basis: 22%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.detail{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.detail #name{
    margin: 2% 0;
    font-family: 'Jost';
    font-size: 24px;
    font-weight: bold;
}
.detail #detail-product{
    font-family: 'Kaisei Decol';
    text-align: center;
    font-size: 16px;
}
/* END */


/* Discount CSS */
.discount{
    display: flex;
    flex-direction: row;
    background-color: #9CAB70;
    margin-bottom: 3%
}
.discount img{
    border-left: 1em solid white ;
}
.dis-content{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.dis-content #dis-title{
    font-family: 'Italiana';
    text-align: center;
    font-size: 64px;
    color: white;
    margin-bottom: 2%;
}
.dis-content #dis-descript{
    font-family: 'Jost';
    text-align: center;
    color: white;
    font-size: 32px;
    letter-spacing: 0.5px;
    width: 60%;
}
.discount button{
    border: 3px solid #68763F;
    border-radius: 20px;
    color: #68763F;
    font-size: 32px;
    margin: 3% 0;
    padding: 8px 20px;
}
/* END */


/* CONTACT CSS */
.contact{
    width: 100%;
    margin-bottom: 3%;
    display: flex;
    justify-content: center;
    background: linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,.8)), url("../img/background2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 0px 4px 4px rgb(0,0,0,0.25);
}
.contact .form{
    padding-top: 2%;
    width: 40%;
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-title{
    font-family: 'Jost';
    font-size: 40px;

}
input[type=text]{
    font-family: 'Jost';
    word-wrap: break-word;
    word-break: break-all;
    box-sizing: border-box;
    width: 80%;
    height: 3em;
    border: 4px solid #9CAB70;
    border-radius: 15px;
    font-size: 25px;
    color: #787B6D;
    padding-left: 3%;
    margin: 3% 0;
    box-shadow: 0px 4px 4px rgb(0,0,0,0.25);
}
input[type=text]::placeholder{
    color: #787B6D;
    font-size: 32px;
}
input[type=text]:focus{
    border: 4px solid #68763F;
    outline: none;
}
textarea{
    font-family: 'Jost';
    width: 80%;
    height: 9em;
    box-sizing: border-box;
    border: 4px solid #9CAB70;
    border-radius: 15px;
    font-size: 25px;
    color: #787B6D;
    padding-left: 3%;
    padding-top: 1% ;
    margin: 3% 0;
    box-shadow: 0px 4px 4px rgb(0,0,0,0.25);
    resize: none;
}
textarea::placeholder{
    color: #787B6D;
    font-size: 32px;
}
textarea:focus{
    border: 4px solid #68763F;
    outline: none;
}
.btn{
    width: 80%;
    text-align: end;
    margin: 5% 0;
}
.btn button{
    width: 30%;
    height: 2.5em;
    border: 4px solid #9CAB70;
    border-radius: 15px;
    background-color: #68763F;
    color: white;
    font-size: 32px;
    font-family: 'Jost';
    box-shadow: 0px 4px 4px rgb(0,0,0,0.25);
}
/* END */


/* FOOTER CSS */
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2%;
}
.footer-icon{
    margin-top: 1%;
}
.footer-icon img{
    margin: 0 1em;
}
.footer-menu{
    margin-top: 1%;
}
.footer-menu a{
    margin: 0 1em;
    text-decoration: none;
    color: #9CAB70;
    font-size: 32px;
    font-family: 'Inter';
    font-weight: bold;
}
/* END */

/* ----------------------------------------TABLET-------------------------------------- */
@media (max-width:991px) {
    /* HEADER */
    #menu{
        width: 90%;
    }
    /* END */


    /* ABOUT-US CSS */
    .about-us{
        flex-direction: column;
        align-items: center;
        padding-top: 3%;
        padding-bottom: 3%;
    }
    .about-us img{
        width: 50%;
    }
    .content #descript{
        width: 100%;
    }
    /* END ABOUT-US*/


    /* PRODUCT CSS */
    .pro{
        flex-wrap: wrap;
    }
    .item{
        margin-top: 3%;
        flex-basis: 48%;
    }
    /* END PRODUCT*/


    /* DISCOUNT CSS */
    .discount{
        flex-direction: column;
        align-items: center;
        padding-top: 3%;
        padding-bottom: 3%;
    }
    .discount img{
        order: 1;
        width: 100%;
        border: none;
    }
    .dis-content{
        order: 2;
    }
    .dis-content #dis-descript{
        width: 100%;
    }
    /* END DISCOUNT*/


    /* CONTACT CSS */
    .contact .form{
        width: 80%;
    }
    /* END */


    /* FOOTER */
    .footer-icon img{
        width: 35px;
    }
    /* END */
}

/* ----------------------------------------MOBILE-------------------------------------- */
@media (max-width:767px) {
    /* HEADER */
    #menu{
        width: 100%;
        margin-top: 25%;
    }
    #menu a{
        font-size: 20px;
    }
    /* END */


    /* ABOUT-US CSS */
    .about-us{
        flex-direction: column;
        align-items: center;
        padding-top: 3%;
        padding-bottom: 3%;
    }
    .about-us img{
        width: 50%;
    }
    .content #title{
        font-size: 30px;
    }
    .content #descript{
        font-size: 20px;
        width: 100%;
    }
    /* END */


    /* PRODUCT CSS */
    .pro{
        flex-direction: column;
    }
    .collection{
        font-size: 26px;
    }
    .item{
        margin-top: 10%;
        border-bottom: 1px solid lightgrey;
    }
    /* END PRODUCT*/


    /* DISCOUNT CSS */
    .dis-content #dis-title{
        font-size: 45px;
        text-align: center;
    }
    .dis-content #dis-descript{
        font-size: 24px;
        text-align: center;
    }
    /* END */
    

    /* CONTACT CSS */
    .contact .form{
        width: 90%;
    }
    .contact-title{
        font-family: 'Jost';
        font-size: 30px;
    }
    input[type=text]{
        font-size: 20px;
    }
    input[type=text]::placeholder{
        font-size: 25px;
    }
    textarea::placeholder{
        font-size: 25px;
    }
    .btn button{
        width: 100%;
        height: 2em;
    }
    /* END */

    /* FOOTER CSS */
    .footer{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .footer-icon img{
        width: auto;
    }
    .footer-menu{
        display: none;
    }
    /* END */
}